header {
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
}

header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .logo {
  width: 25px;
  height: 25px;
}