/* 전체 레이아웃 */
.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.topWrap,
.middleWrap,
.bottomWrap {
  display: flex;
  justify-content: center;
  align-content: center;
}
.wrap .topWrap {
  width: 100%;
  height: 45%;
  border-radius: 0 0 0 13.33vw;
  box-shadow: 0 0.53vw 2.67vw 0vw rgba(0, 0, 0, 0.3);
  background-color: var(--main-color);
}
.wrap .middleWrap {
  width: 100%;
  height: 25%;
  /* background-color: rgb(165, 179, 191); */
}

.wrap .bottomWrap {
  width: 100%;
  height: 30%;
  /* background-color: rgb(138, 181, 220); */
}

/* 컨테이너 */
.container {
  width: 90%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.3); */
  position: relative;
}

/* top */
.topWrap .container {
  text-align: center;
}
.topWrap .backBtn {
  display: inline-block;
  width: 5.33vw;
  height: 5.33vw;
  background-color: transparent;
  position: absolute;
  top: 10%;
  left: 0;
  background-image: url("../../../public//images/backImg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.topWrap .lampImg {
  width: 10.13vw;
  height: 20.8vw;
  position: absolute;
  top: 0;
  right: 30%;
}
.topWrap .setupImg {
  height: 65%;
  aspect-ratio: 1/1.3;
  margin-top: 15%;
}

.topWrap .informWrap {
  width: 100%;
  height: 18%;
  background-color: #fff;
  border-radius: 8.53vw;
  margin: -4% auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topWrap .informWrap .informBox {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.topWrap .informWrap .informBox .informTitle {
  font-size: 0.5em;
}
.topWrap .informWrap .informBox .informCont {
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
  margin-top: 5%;
}
/* 세로선 */
.vertical_line {
  width: 0.27vw;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* 펫 추가 */
.middleWrap {
  position: relative;
}
.middleWrap h3 {
  margin-top: 4%;
  font-size: 1em;
  position: absolute;
  left: 10%;
  top: 3%;
}

.middleWrap .petContainer {
  height: 70%;
  width: 100%;
  background-color: rgba(244, 229, 155, 0.3);
  margin-top: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.middleWrap .petContainer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.middleWrap .leftBox {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.middleWrap .leftBox .perBox {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.73vw;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.middleWrap .imgBox {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background-color: aliceblue; */
  margin: 0 auto;
  margin-top: 12%;
  /* border: 0.27vw solid rgba(0, 0, 0, 0.3); */
}

.img1,
.img2,
.img3 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.middleWrap .img1 {
  background-image: url("../../../public/images/pet1.png");
}
.middleWrap .img2 {
  background-image: url("../../../public/images/pet2.png");
}
.middleWrap .img3 {
  background-image: url("../../../public/images/pet3.png");
}
.middleWrap .name {
  font-size: 0.5em;
  text-align: center;
  margin-top: 6%;
}
.middleWrap .editBtn {
  display: inline-block;
  width: 5%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 7%;
  right: 7%;
  background-color: transparent;
  background-image: url("../../../public/images/editBtn.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.middleWrap .addPet {
  display: inline-block;
  width: 13%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.3);
  border: 0.27vw solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
.middleWrap .addPet a {
  text-decoration: none;
  color: #333;
}
.bottomWrap {
  margin-top: 8vw;
}
.bottomWrap h3{
  margin-left: 5.33vw;
}
.bottomWrap ul {
  margin-top: 5.33vw;
}
.bottomWrap li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5.33vw;
  text-decoration: none;
  color: #333;
}
.bottomWrap li img {
  width: 4.8vw;
  margin-right: 2.67vw;
}
.bottomWrap p {
  font-size: 3.73vw;
}